SUPABASE_URL=https://ovisawqwfapvmedivuam.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im92aXNhd3F3ZmFwdm1lZGl2dWFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM2NzAyNjYsImV4cCI6MjA3OTI0NjI2Nn0.Ose6e0ndw7bL-DEpZrNMhMyh3hB92WGq_9xYvIhXQDU
SUPABASE_SERVICE_ROLE_KEY=REPLACE_WITH_YOUR_SERVICE_ROLE_KEY_FROM_SUPABASE_DASHBOARD
PORT=5000

